@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Shizuru&family=Supermercado+One&display=swap');
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.container{

position: absolute;
display: flex;
justify-content: center;
width: 100%;
align-items: center;
height: 10%;
}

.about{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  cursor: pointer;
  width: 100vw;

}

body{
  width: 100%;
height: 100%;
margin: 0;
padding: 0;
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
overflow: hidden;
background-color: #121212;
display: block;
}

.content{
  position: fixed;
  
  margin-top:220px;
}
.left, .right{
margin-top: -470px;
}
.about-section{
  background-color: greenyellow;
}
.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
.htmlContent{

  color:orange
}
h2,p,h3{
  text-align:center;
  
}
h2,h3{
  color:orange;
  font-family: 'Shizuru', cursive;
  font-size: 28px
}

a{
  text-decoration: none;
  color:#71A59A
}

p{
  color:antiquewhite;
  font-family: 'Supermercado One', cursive;
}
h4 + p {
  color: red;
}


.loading{
 
  margin:20% auto;
  height: 100vh;
  width:100px;
}



@media screen and (max-width: 520px){
  h2,h3{
    font-size: 22px
  }

  #contact{
    margin-top: -3350px;
    margin-bottom: 50px
  }
  #projects{
    margin-top: -1550px
  }
}
/*
@media screen and (min-width:521px) and (max-width: 1025px){
 
  #about{
    margin-top: -500px;
  }
  #contact{
    margin-top: -8800px;
    margin-bottom: 400px
  }
  #projects{
    margin-top: -5500px
  }
}
*/


